.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin-top: 42px;
  margin-bottom: 42px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 464px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 157px;
}

.u-section-2 .u-form-1 {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 79px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-input-1 {
  background-image: none;
  font-weight: 400;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-input-2 {
  background-image: none;
  font-weight: 400;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-input-3 {
  background-image: none;
  font-weight: 400;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    height: 81px;
  }
}