<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:object="${userForm}" th:action="@{./register/send}" method="post">
    <input type="text" th:field="*{id}" placeholder="Id">
    <input type="text" th:field="*{name}" placeholder="Name">
    <input type="text" th:field="*{lastName}" placeholder="Last Name">
    <input type="text" th:field="*{telephoneNumber}" placeholder="Telephone Number">
    <button type="submit">Send!</button>

</form>

</body>
</html>